@import "tailwindcss";

@keyframes stagger-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25%);
    }
}

/* Each mascot gets its own delay */
.stagger-1 {
    animation: stagger-bounce 1.5s infinite ease-in-out;
}

.stagger-2 {
    animation: stagger-bounce 1.5s infinite ease-in-out;
    animation-delay: 0.3s;
}

.stagger-3 {
    animation: stagger-bounce 1.5s infinite ease-in-out;
    animation-delay: 0.6s;
}
